name: npm-audit

on:
  push: #wird bei jedem push ausgeführt
  workflow_dispatch: #oder manuell

jobs:
    audit:
      runs-on: ubuntu-latest #[x64, linux] #wird auf irgendeinem runner ausgeführt, der linux auf amd64 ausführt

      steps:
        - name: checkout
          uses: actions/checkout@v4
        - name: Install deps (root)
          run: npm ci
        
        - name: audit
          run: |
            npm audit | cat > npm-audit-output.log

        - name: Upload npm audit result
          uses: actions/upload-artifact@v4
          if: always()
          with:
            name: npm-audit-log
            path: npm-audit-output.log